<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<p class="show-text">Title:<%= @book.title %></p>

<p class="show-text">Body:<%= @book.body %></p>

<p>
<%= link_to 'Edit', edit_book_path %>
|
<%= link_to 'Back', books_path %>
</p>
